*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f5f7fb;
}

.admin-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#0b1b4d;
    color:#fff;
}

.admin-logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.admin-logo img{
    width:55px;
    height:55px;
}

.admin-logo h2{
    font-size:24px;
}

.admin-logo p{
    font-size:13px;
    color:#ddd;
}

.back-btn{
    background:#0d6efd;
    color:#fff;
    padding:10px 18px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}

.back-btn:hover{
    background:#084298;
}

.page-title{
    background:linear-gradient(90deg,#071952,#0d6efd);
    color:#fff;
    text-align:center;
    padding:35px;
}

.dashboard{
    width:95%;
    max-width:1200px;
    margin:30px auto;
}

.stats{
    display:flex;
    justify-content:center;
    margin-bottom:25px;
}

.card{
    background:#0d6efd;
    color:#fff;
    width:230px;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card h2{
    font-size:34px;
    margin-top:10px;
}

.table-box{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.12);
    overflow-x:auto;
}

#searchInput{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#0d6efd;
    color:#fff;
}

th,td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

td img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:2px solid #0d6efd;
}

.view-btn,
.edit-btn,
.delete-btn{
    padding:8px 12px;
    border:none;
    border-radius:6px;
    color:#fff;
    cursor:pointer;
    margin:2px;
}

.view-btn{
    background:#0d6efd;
}

.edit-btn{
    background:#198754;
}

.delete-btn{
    background:#dc3545;
}

.view-btn:hover{
    background:#084298;
}

.edit-btn:hover{
    background:#146c43;
}

.delete-btn:hover{
    background:#bb2d3b;
}

@media(max-width:768px){

.admin-header{
    flex-direction:column;
    gap:15px;
}

.page-title h1{
    font-size:28px;
}

.card{
    width:100%;
}

}